body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7e6b53;
}

.container{
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
}

.cell {

    width: 100px;
    height: 100px;
    background-color: #3bb8d1;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

#reset {
    background-color: aquamarine;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
}

#message {
    color: rgb(38, 255, 0);
    margin-top: 20px;
    font-size: 1.2em;
}
